<link href="css/internas.css" rel="stylesheet">
<ion-view view-title="Eu, Inspetor">
	<ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="blackButton">
      </ion-nav-back-button>
    </ion-nav-bar>
  <ion-content>
    <div class="fullsize">
      <div class="titulosInternas">
        <div class="boxTitulos">
          <span class="ion-clipboard"></span> Timeline
        </div>
      </div>
      <div class="conteudoInternas ciredesociais">
        <div class="semPM">

          <div class="item item-body fullsize">
            <div class="list card">
              <div class="item item-divider">
                  Prefeitura Municipal de Escada
                </div>
               <div class="item item-text-wrap">
                  <div class="modalidade bold">Contratação de Mão de Obra</div> 
                  <div class="descricaoObs">
                    <div class="descricaoObjTexto bold">Descrição do Objeto:</div>
                    <div class="descricaoObjTexto">
                      CONTRATAÇÃO DE MÃO DE OBRA ESPECIALIZADA PARA MANUTENÇÃO PREDIAL E INSTALAÇÕES ELÉTRICAS.
                    </div>
                    <div class="valor bold">
                      Valor: R$4.000.000,00
                    </div>
                  </div>
                </div>
                <div class="list">
                  <div class="item tabs tabs-secondary tabs-icon-left tabsNew">
                  <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup iconMa green"></i>
                    Concordo
                    <span class="concordamNum">[9]</span>

                  </a>
                  <a class="tab-item" href="#">
                    <i class="icon ion-thumbsdown iconMa red"></i>
                    Discordo
                    <span class="discordamNum">[490]</span>
                  </a>
                  <a class="tab-item" href="#">
                    <i class="icon ion-share iconMa"></i>
                    Compartilhar
                  </a>
                </div>
                </div>
              </div>

              <div class="list card">
              <div class="item item-divider">
                  Câmara Municipal de Escada
                </div>
               <div class="item item-text-wrap">
                  <div class="modalidade bold">Contratação de Mão de Obra</div> 
                  <div class="descricaoObs">
                    <div class="descricaoObjTexto bold">Descrição do Objeto:</div>
                    <div class="descricaoObjTexto">
                      CONTRATAÇÃO DE MÃO DE OBRA ESPECIALIZADA PARA MANUTENÇÃO DE ELEVADORES.
                    </div>
                    <div class="valor bold">
                      Valor: R$69.000,00
                    </div>
                  </div>
                </div>
                <div class="list">
                  <div class="item tabs tabs-secondary tabs-icon-left tabsNew">
                  <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup iconMa green"></i>
                    Concordo
                    <span class="concordamNum">[9]</span>

                  </a>
                  <a class="tab-item" href="#">
                    <i class="icon ion-thumbsdown iconMa red"></i>
                    Discordo
                    <span class="discordamNum">[490]</span>
                  </a>
                  <a class="tab-item" href="#">
                    <i class="icon ion-share iconMa"></i>
                    Compartilhar
                  </a>
                </div>
                </div>
              </div>

              <div class="list card">
                <div class="item item-divider">
                  Prefeitura Municipal de Escada
                </div>
                <div class="item item-text-wrap">
                  Prestação de serviços de Transporte Escolar no Município de Escada.
                </div>
                <div class="list">
                  <div class="item tabs tabs-secondary tabs-icon-left tabsNew">
                  <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup iconMa green"></i>
                    Concordo
                    <span class="concordamNum">[3]</span>

                  </a>
                  <a class="tab-item" href="#">
                    <i class="icon ion-thumbsdown iconMa red"></i>
                    Discordo
                    <span class="discordamNum">[129]</span>
                  </a>
                  <a class="tab-item" href="#">
                    <i class="icon ion-share iconMa"></i>
                    Compartilhar
                  </a>
                </div>
                </div>
              </div>

              <div class="list card">
                <div class="item item-divider">
                  Prefeitura Municipal de Escada
                </div>
                <div class="item item-text-wrap">
                  Prestação de serviços de Transporte Escolar no Município de Escada.
                </div>
                <div class="list">
                  <div class="item tabs tabs-secondary tabs-icon-left tabsNew">
                  <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup iconMa green"></i>
                    Concordo
                    <span class="concordamNum">[4]</span>

                  </a>
                  <a class="tab-item" href="#">
                    <i class="icon ion-thumbsdown iconMa red"></i>
                    Discordo
                    <span class="discordamNum">[90]</span>
                  </a>
                  <a class="tab-item" href="#">
                    <i class="icon ion-share iconMa"></i>
                    Compartilhar
                  </a>
                </div>
                </div>
              </div>           
          </div>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
