@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-7iq5e');
	src:url('../fonts/icomoon.eot?#iefix-7iq5e') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-7iq5e') format('woff'),
		url('../fonts/icomoon.ttf?-7iq5e') format('truetype'),
		url('../fonts/icomoon.svg?-7iq5e#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-account-balance:before {
	content: "\e600";
}

.icon-done:before {
	content: "\e604";
}

.icon-done-all:before {
	content: "\e605";
}

.icon-thumb-up:before {
	content: "\e603";
}

.icon-trending-up:before {
	content: "\e601";
}

.icon-message:before {
	content: "\e602";
}

.icon-headset:before {
	content: "\e612";
}

.icon-keyboard-voice:before {
	content: "\e606";
}

.icon-camera-alt:before {
	content: "\e607";
}

.icon-directions-bike:before {
	content: "\e608";
}

.icon-directions-bus:before {
	content: "\e609";
}

.icon-directions-car:before {
	content: "\e60a";
}

.icon-directions-ferry:before {
	content: "\e60b";
}

.icon-directions-subway:before {
	content: "\e60c";
}

.icon-directions-train:before {
	content: "\e60d";
}

.icon-directions-transit:before {
	content: "\e60e";
}

.icon-directions-walk:before {
	content: "\e60f";
}

.icon-local-car-wash:before {
	content: "\e610";
}

.icon-local-gas-station:before {
	content: "\e611";
}

.icon-local-library:before {
	content: "\e617";
}

.icon-pencil:before {
	content: "\e905";
}

.icon-camera:before {
	content: "\e90f";
}

.icon-video-camera:before {
	content: "\e914";
}

.icon-bullhorn:before {
	content: "\e91a";
}

.icon-mic:before {
	content: "\e91e";
}

.icon-books:before {
	content: "\e920";
}

.icon-library:before {
	content: "\e921";
}

.icon-phone:before {
	content: "\e942";
}

.icon-bubbles4:before {
	content: "\e970";
}

.icon-user-tie:before {
	content: "\e976";
}

.icon-menu3:before {
	content: "\e9bf";
}

.icon-menu4:before {
	content: "\e9c0";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-facebook3:before {
	content: "\ea8e";
}

.icon-instagram:before {
	content: "\ea90";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-youtube:before {
	content: "\ea97";
}

.icon-youtube2:before {
	content: "\ea98";
}

.icon-youtube3:before {
	content: "\ea99";
}

